@media screen and (min-width: 768px) {
  .work_container {
    width: 80vw;
    text-align: center;
    /* box-shadow: inset 10px 10px 0px 0px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30%;
  }
  .work {
    display: flex;
    align-items: center;
    height: 30vh;
  }

  .work__img-wrapper {
    width: 50%;
  }

  .work__img-wrapper img {
    border-radius: 15%;
    /* height: 350px; */
    width: 400px;
  }
  .work__project_info {
    padding: 0 10%;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .linkToApp {
    color: black;
    font-weight: 600;
    height: 50px;
    width: 10vw;
    border-radius: 15px;
    border: none;
    background-color: #3586ff;
    margin: 10% 0;
  }

  #projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    width: 100vw;
    padding: 0;
    background: url("../assets/projects.png") center;
    padding: 0 0 100px 0;
  }
}
@media screen and (max-width: 768px) {
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
  }

  .work__description {
    text-align: center;
    font-size: 14px;
  }

  .work_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .work {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .work1,
  .work3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .work__img-wrapper img {
    width: 70vw;
  }

  .linkToApp {
    color: black;
    font-weight: 600;
    height: 5vh;
    width: 40vw;
    border-radius: 15px;
    border: none;
    background-color: #3586ff;
    margin: 10% 0;
  }
}

.project-title {
  color: #3586ff;
}
.work__description {
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .work_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }
  #projects,#contact,#about {
    background: #fff;
  }
  .work_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
  }
  
}
